    <app-navbar></app-navbar>

        <table >
            <tr>
            <td class="container">
            <div class="cpmmunitytext">Fiction</div>
            <img src="../../../assets/img/fiction.png" alt="" style="width:100%;">
            </td>
            
            <td class="container">
            <div class="cpmmunitytext">Fiction</div>
            <img src="../../../assets/img/fiction.png" alt="" style="width:100%;">
            </td>

            <td class="container">
            <div class="cpmmunitytext">Fiction</div>
            <img src="../../../assets/img/fiction.png" alt="" style="width:100%;">
            </td>
            </tr>
            <tr>
            <td class="container">
            <div class="cpmmunitytext">Fiction</div>
            <img src="../../../assets/img/fiction.png" alt="" style="width:100%;">
            </td>
                        
            <td class="container">
            <div class="cpmmunitytext">Fiction</div>
            <img src="../../../assets/img/fiction.png" alt="" style="width:100%;">
            </td>
                        
            <td class="container">
            <div class="cpmmunitytext">Fiction</div>
            <img src="../../../assets/img/fiction.png" alt="" style="width:100%;">
            </td>
            </tr>
        </table>
