    .table{
        margin-top: 2rem;
        margin-left: 17.5rem;
        width: 75rem;
        border: 1px solid #999;
        border-radius: 3rem;
    }

    img {
        border-radius: 50%;
    }

   
