    <app-navbar path="/Communities" title="COMMUNITIES"></app-navbar>
    <app-sidebar></app-sidebar>

        <table class="table">
            <tr>
                <td class="Fiction">
                        <h4 align="center">Fiction</h4>
                        <tr>
                        <img src="../../../assets/img/communityimg.png" alt="" style="width:100%;">
                        </tr>
                </td>
            
                <td class="Philosophy">
                        <h4 align="center">Philosophy</h4>
                        <tr>
                        <img src="../../../assets/img/communityimg.png" alt="" style="width:100%;">
                        </tr>
                </td>

                <td class="Historical">
                        <h4 align="center">Historical</h4>
                        <tr>
                        <img src="../../../assets/img/communityimg.png" alt="" style="width:100%;">
                        </tr>
                </td>
            </tr>
            <tr>
                <td class="Essay">
                        <h4 align="center">Essay</h4>
                        <tr>
                        <img src="../../../assets/img/communityimg.png" alt="" style="width:100%;">
                        </tr>
                </td>
                <td class="Comedy">
                        <h4 align="center">Comedy</h4>
                        <tr>
                        <img src="../../../assets/img/communityimg.png" alt="" style="width:100%;">
                        </tr>
                </td>
                <td class="Poetry">
                        <h4 align="center">Poetry</h4>
                        <tr>
                        <img src="../../../assets/img/communityimg.png" alt="" style="width:100%;">
                        </tr>
                </td>
            </tr>
        </table>

<app-navbar path="/homepage-posts" title="COMMUNITIES"></app-navbar>
<app-sidebar></app-sidebar>
