.nav-logo{
    margin: 0rem;
    width: 8rem;
    justify-content: center;
    border-radius: 2rem;
}
.nav-title{
    margin: 0rem;
    font-size: 2rem;
    text-align: center;
    color: white;
     -webkit-text-stroke: 1px #eab5a4;
    
}
.navbar-row{
    background-color: #5A794F;
}

li{
 list-style: none;
 display: inline;
 color:black;
} 
 
.nav-li{
    
    width: 20rem;
    height: 10rem;
    margin: 1rem;
    padding: .5rem;
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    background-color: white;
}
.nav-li:hover{
    border-color:  #eab5a4;
} 

.right-nav {
    float: right;
    margin-top: -5rem;
}

.profile-logo {
    margin-top: -3rem;
    padding-right: 1rem;
    width: 6rem;
    justify-content: center;
}

/* DROPDOWN STYLING */
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 10rem;
    height: 6rem;
    margin-left: -4rem;
    margin-top: -1rem;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: beige;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 15px;
    text-decoration: none;
    text-align: justify;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #5A794F;
  }