<!-- NAVBAR -->
<!-- <nav class="navbar-row">

    <a href={{path}}>
      <img class="nav-logo" src="../assets/img/starlight-logo.svg" alt="">
     
    </a>
    <a href={{path}}>
    <img *ngIf="icon=='true'" class="nav-account" src="../../../assets/img/account-icon.png" alt="">
  </a>
  <a href="">
    <img *ngIf="icon=='true'" class="nav-logoff" src="../../../assets/img/logoff.png" alt="">    
  </a>
    <h6 class="nav-title">{{title}}</h6>

</nav> -->

 <!-- NAVBAR -->
 <nav class="navbar navbar-expand-lg bg-success navbar-dark py-3 fixed-top">
  <div class="container">
  <a href={{path}} class="navbar-brand">StarLight</a>
  <button 
  class="navbar-toggler" 
  type="button"
   data-bs-toggle="collapse" 
   data-bs-target="#navmenu">
   <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navmenu">
    <h2 class="nav-title">{{title}}</h2>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-4">
            <a  *ngIf="icon=='true'"href={{path}} class="nav-link ">
              <i  class="bi bi-person"></i>
            </a>
         </li>

         <li class="nav-item">
          <a  *ngIf="icon=='true'"href="" class="nav-link ">
            <i class="bi bi-box-arrow-right"></i>
          </a>
       </li>
      </ul>
  </div>
</div>
</nav>