<!-- NAVBAR -->
<nav class="navbar-row">

    <a href={{path}}>
      <img class="nav-logo" src="../assets/img/starlight-logo.svg" alt="">
    </a>
    <h6 class="nav-title">{{title}}</h6>

    <div class="right-nav" *ngIf="loggedIn">
      <div class="dropdown">
        <img class="profile-logo" src="../../../assets/img/profile.jpg" alt="Profile Logo">
        <div class="dropdown-content">
        <a href="/profile">Update Profile</a>
        <a href="">Log Out</a>
        </div>
      </div>      
    </div>

</nav>