.nav-logo{
    margin: 0rem;
    width: 8rem;
    justify-content: center;
    border-radius: 2rem;
}
.nav-title{
    margin: 0rem;
    font-size: 2rem;
    text-align: center;
    color: white;
     -webkit-text-stroke: 1px #eab5a4;
    
}
.navbar-row{
    background-color: #5A794F;
}

li{
 list-style: none;
 display: inline;
 color:black;
} 
 
.nav-li{
    
    width: 20rem;
    height: 10rem;
    margin: 1rem;
    padding: .5rem;
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    background-color: white;
}
.nav-li:hover{
    border-color:  #eab5a4;
} 