button {
    width: 14rem;
    height: 3rem;
    font-size: 1.4rem;
    border-width: 0rem;
    border-radius: 2rem;
    margin: 1rem;
    color: white;
    -webkit-text-stroke: 0.5px #eab5a4;
    background-color: #5a794f;
}

button:hover{
    background-color: #304829;
}