button {
    
    width: 14rem;
    height: 3rem;
    /* margin: 3rem 10rem; */
    font-size: 1.4rem;
    color:white;
    background-color: #5A794F;
    border-radius: 2rem;
}
button:hover{
    background-color: #304829;
}