/* FORM STYLE */
input {
    width: 20rem;
    margin: .5rem;
}

.last-input {
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 0rem;
    margin-top: 3rem;
    text-align: center;
    color: #627753;
    -webkit-text-stroke: 0.5px #eab5a4;
}

#change-password-form {
    width: 25rem;
    height: 15rem;
    text-align: center;
    padding-top: 1rem;
}