<app-navbar></app-navbar>

<div class="container">
    <!-- CHANGE PASSWORD -->
    <div>
        <h1>CHANGE PASSWORD</h1>
    </div>

    <!-- CHANGE PASSWORD FORM -->
    <div class="form-container">
        <div class="form-div">
            <form id="change-password-form" action="">
                <input type="password" name="password-field" placeholder="New Password"> <br>
                <input type="password" name="confirm-password-field" placeholder="Confirm Password" class="last-input"> <br>
                <app-greenbtn buttonName="Change Password" (click)="changePassword($event)"></app-greenbtn>
            </form>
        </div>
    </div>
    
</div>