<app-navbar></app-navbar>

<div class="container py-5">
    <div class="card card-container">
        <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
        <p id="profile-name" class="profile-name-card">Please enter a new password to use.</p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required autofocus>
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>

            <button class="btn btn-lg btn-success btn-block" type="submit" (click)="changePassword($event)">Change Password</button>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->
