<app-navbar></app-navbar>

<!-- <div class="container">
    <div>
        <h1>CHANGE PASSWORD</h1>
    </div>
    <div class="form-container">
        <div class="form-div">
            <form id="change-password-form" action="">
                <input type="password" name="password-field" placeholder="New Password"> <br>
                <input type="password" name="confirm-password-field" placeholder="Confirm Password" class="last-input"> <br>
                <app-greenbtn buttonName="Change Password" (click)="changePassword($event)"></app-greenbtn>
            </form>
        </div>
    </div>
    
</div> -->



<div class="container py-5">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required autofocus>
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>

            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit" (click)="changePassword($event)">Change Password</button>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->
