/* body::before{ */
body {
    display: block;
}
@media(min-width:768px){
    .news-input{
        width: 50%;
    }
}

.showcase {
    padding-top: 3rem;
}

h1{
    font-size: 2rem;
}

img {
    padding-top: 2rem;
}

::placeholder {
    color: black;
    -webkit-text-stroke: 0 black;
}