<!-- NAVBAR -->
<nav class="navbar-row">
  <a href="">
    <img class="nav-logo" src="../assets/img/starlight-logo.svg" alt="">
  </a>
  <!-- right side -->
  <div class="nav-elements"> 
    <ul>
      <li class="nav-li">
        <a href="#about-us">About Us</a>
      </li>
      <li class="nav-li">
        <a href="login">Log In</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <a href="">
    <img class="main-image"
    src="../assets/img/steff.jpeg" alt="">
  </a>
  <h1 class="main-h">Write your stories</h1>
  <h2 class="main-h2">Share your writing with the universe <br>
    and let each post be one its stars</h2>

  <app-greenbtn buttonName="Get Started"></app-greenbtn>
  <!-- <button class="main-b">Get Started</button> -->

  <div>
    <a href="">
      <img  class="main-vid"src="../assets/img/video-starlight.png" alt="">
    </a>
  </div>

  <div id="about-us">
    <h1 class="about-h">About Us</h1>
    <h3 class="about-h1">This started as class project. Initially we thought about doing a simulation, but our friend Steff was big
      Into writing and we decided to dedicate the site to her and ourselves to write on our stories. </h3> 
      <h3 class="about-h1">
      We believe in the power of community and collaboration, and we encourage you to engage 
      with us and share your thoughts and ideas. Our goal is to create a space where anyone can connect, 
      And learn from each other.</h3>
  </div>

</div>
