body::before{
    display: block;
    content:'';
    height:60px;

}
@media(min-width:768px){
    .news-input{
        width: 50%;
    }
}

h1{
    font-size: 2rem;
}
.btn-success{
    border-radius: 2rem;;
}
.form-control{
    border-radius: 2rem;;
}
.btn-dark{
    border-radius: 2rem;
}

.main-vid{
    width: 20rem;
    height: 10rem;
}