

.form-control{

  margin: auto;
  border: 2px solid;
  border-radius: 2rem;
  font-size : 1.3em;
  font-family : "Open Sans", sans-serif;
  width: 60%;

}
.title{
  text-align: center;
  margin:auto;
  width: 20%;;
}

.container{
  margin-left: 20%; 
}

/* @media(min-width:350px){ */
@media(min-width:350px){
  .container {
    padding-top: 7rem;
    /* margin-left: 0; */
  }
}

/* @media(max-width:1000px){
  .container {
    margin-left: 20%;
  }
} */

#input-title{
  text-align: center;
  width: 100%;
  font-weight: bold;
  /* margin: 3rem auto; */
  margin-bottom: 2rem;
  color: black;
  /* -webkit-text-stroke: 0.5px #eab5a4; */
}

.post-input{
  width: 90%;
  height: 30rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 1rem;
}

h1 {
  padding: 40px; 
  text-align: center; 
  font-size: 1.5em;
}

li a {
  text-decoration : none; 
  color : #2d2f31;
}

.btn {
  padding: 0px;
  font-weight: 300;
  font-size: 14px;
  height: 2.5rem;
  width: 12rem;
  border-radius: 2rem;
  border: none;
  margin-right: 3rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: rgb(12, 97, 33);
}