<app-navbar icon="true" path="/homepage-posts" title="NEW POST"></app-navbar>

<div class="container-fluid">
  <div class="post">
    <form action="">  
      <input id="input-title" type="text" placeholder="TITLE"> 
        <nav class="labels">
          <label for="touch"><span>LABELS</span></label>               
          <input type="checkbox" id="touch"> 
          
          <ul class="slide">
            <li><a href="/new-post">Essay</a></li> 
            <li><a href="/new-post">Fiction</a></li>
            <li><a href="/new-post">Comedy</a></li>
            <li><a href="/new-post">Adventure</a></li>
            <li><a href="/new-post">Horror</a></li>
            <li><a href="/new-post">Fantasy</a></li>
            <li><a href="/new-post">Romance</a></li>
          </ul>
          
        </nav> 
        <textarea class="post-input"type="text" id="name" name="name" required
        placeholder="Enter  your text here..."></textarea>
      
        <app-greenbtn class="post-b" buttonName="Cancel"(click)="cancelNewPost($event)"></app-greenbtn>
        <app-greenbtn class="post-b" buttonName="Submit"(click)="createNewPost($event)"></app-greenbtn>
       
    </form>
  </div>
</div>

