

.form-control{

  margin: auto;
  border: 2px solid;
  border-radius: 2rem;
  font-size : 1.3em;
  font-family : "Open Sans", sans-serif;
  width: 60%;

}
.title{
  text-align: center;
  margin:auto;
  width: 20%;;
}

.container{
  margin-left: 20%; 
}

@media(min-width:350px){
  .container {
    padding-top: 8rem;
  }
}

#input-title{
  text-align: center;
  width: 100%;
  font-weight: bold;
  /* margin: 3rem auto; */
  margin-bottom: 2rem;
  color: black;
  /* -webkit-text-stroke: 0.5px #eab5a4; */
}



h1 {
  padding: 40px; 
  text-align: center; 
  font-size: 1.5em;
}

li a {
  text-decoration : none; 
  color : #2d2f31;
}

.post-b {
  margin-right: 3rem;
}