<app-navbar icon=false title="CREATE ACCOUNT"></app-navbar>

<div class="container text-center">
    <form>
        <div class="form-row my-3">
            <div class="col">
                <input type="text" class="form-control short-input" placeholder="First Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col">
                <input type="email" class="form-control long-input" placeholder="Email">
            </div>
            <div class="col">
                <input type="password" class="form-control long-input" placeholder="Password">
            </div>
            <div class="col">
                <input type="password" class="form-control long-input" placeholder="Confirm Password">
            </div>
            <app-greenbtn buttonName="Sign Up" (click)="goToLogin($event)"></app-greenbtn>
        <!-- <button type="submit" class="btn btn-success my-3" (click)="gotoHome($event)">Log In</button> -->
        </div>
    </form>
</div>   