
<div class="container">
    <!-- CREATE ACCOUNT -->
    <div>
        <h1>CREATE ACCOUNT</h1>
    </div>

    <!-- REGISTRATION FORM -->
    <div class="form-div">
        <form id="registration-form" action="">
            <input type="text" name="fistname-field" placeholder="First Name">
            <input type="text" name="lastname-field" placeholder="Last Name"> <br>
            <input type="email" name="email-field" id="long-input" placeholder="Email"> <br>
            <input type="password" name="password-field" id="long-input" placeholder="Password"> <br>
            <input type="password" name="confirm-password-field" id="long-input" placeholder="Confirm Password"> <br>
            <app-greenbtn buttonName="Sign Up"></app-greenbtn> <br>
        </form>
    </div>
    
</div>