input {
    width: 15rem;
    margin: .5rem;
}

input#long-input {
    width: 32rem;
}

h1 {
    margin-bottom: 0rem;
    margin-top: 3rem;
    text-align: center;
    color: #627753;
    -webkit-text-stroke: 0.5px #eab5a4;
}

.last-input {
    margin-bottom: 3rem;
}

#registration-form {
    width: 36rem;
    height: 25rem;
    text-align: center;
    padding-top: 2rem;
}
