.vertical-separator {
    height: 100%;
    width: 0.5px;
    background-color: #979797;
    position: fixed;
    margin-left: 12rem;
}

.sidebar {
    height: 100%;
    position: absolute;
    width: 11rem;
    padding-left: 1rem;
    position: fixed;
}
@media(min-width:350px){
    .sidebar {
      padding-top: 10rem;
    }
}

app-greenbtn {
    width: 10rem;
}