input {
    width: 22rem;
}

app-greenbtn {
    margin: 4rem;
}

.last-input {
    margin-bottom: 3rem;
}

h1 {
    margin-bottom: 0rem;
    margin-top: 3rem;
    text-align: center;
    color: #627753;
    -webkit-text-stroke: 0.5px #eab5a4;
}

#email-form {
    width: 25rem;
    height: 13rem;
    padding-top: 1rem;
    padding-left: 2rem;
}
