<app-navbar icon=false title="ACCOUNT RECOVERY"></app-navbar>

<div class="container text-center">
    <form>
      <div class="form-row my-3">
        <p>Please enter your email.</p>
        <div class="col">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <app-greenbtn buttonName="Submit" (click)="recover($event)"></app-greenbtn>
        <!-- <button type="submit" class="btn btn-success my-3" (click)="gotoHome($event)">Log In</button> -->
      </div>
      <a class="small-link py-5" href="registration">Sign Up</a>
    </form>
</div> 