<app-navbar></app-navbar>

<div class="container">
    <!-- ACCOUNT RECOVERY -->
    <div>
        <h1>ACCOUNT RECOVERY</h1>
    </div>

    <!-- RECOVERY FORM -->
    <div class="form-container">
        <div class="form-div">
            <form id="email-form" action="">
                <p>Please enter your email.</p>
                <input type="email" name="email-field" placeholder="Email" class="last-input"> <br>
                <app-greenbtn buttonName="Submit" (click)="recover($event)"></app-greenbtn> <br>
            </form>
            <a class="small-link" href="registration">Sign Up</a>
        </div>
    </div>
    
</div>