input {
    width: 20rem;
    height: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    border: solid;
    border-radius: 4rem;
    /* font-family: Shanti; */
    font-size: 1.3em;
}

::placeholder {
    text-align: center;
}

app-greenbtn {
    padding-bottom: 35rem;
}

h1 {
    margin-bottom: 0rem;
    margin-top: 3rem;
    text-align: center;
    color: #627753;
    -webkit-text-stroke: 0.5px #eab5a4;
    font-family: sans-serif;
}

.form-div {
    display: grid;
    place-content: center;
}

#email-form {
    /* float: center; */
    border: solid;
    border-color: #5A794F;
    border-radius: 2rem;
    width: 25rem;
    height: 15rem;
    /* text-align: center; */
    padding-top: 1rem;
    padding-left: 2rem;
    /* display: inline-block; */
}
