input {
    text-align: center;
    width: 16rem;
}

app-greenbtn {
    margin: 1rem;
}

.last-input {
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 0rem;
    margin-top: 3rem;
    text-align: center;
    color: #627753;
    -webkit-text-stroke: 0.5px #eab5a4;
}

#email-form {
    width: 25rem;
    height: 20rem;
    text-align: center;
    padding-top: 5rem;
}

.small-link{
    margin: -2rem;
}