<app-navbar path="/homepage-posts" title="MY PROFILE" loggedIn="true"></app-navbar>

<div class="container">

    <div class="profile-pic">
        <label class="hoverable" for="fileInput">
            <img [src]="url ? url : '../../../assets/img/profile.jpg'"> 
            <div class="hover-text">Choose file</div>
            <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type='file' (change)="onSelectFile($event)">
    </div>

    <!-- REGISTRATION FORM -->
    <div class="form-container">
        <div class="form-div">
            <form id="profile-form" action="">
                <input type="text" name="fistname-field" placeholder="First Name">
                <input type="text" name="lastname-field" placeholder="Last Name"> <br>
                <input type="email" name="email-field" id="long-input" placeholder="Email"> <br>
                <input type="password" name="old-password-field" id="long-input" placeholder="Old Password"> <br>
                <input type="password" name="new-password-field" id="long-input" placeholder="New Password" class="last-input"> <br>
                <app-greenbtn buttonName="Cancel" (click)="cancelAction($event)"></app-greenbtn>
                <app-greenbtn buttonName="Update Profile" (click)="updateProfile($event)"></app-greenbtn> <br>
            </form>
        </div>
    </div>

</div>
