
<div class="post-cart">
    <table class="post-cart-table">
      <tr>
        <td><h2 class="cart-title">{{title}}</h2></td>
        <td><h5 class="cart-date">Date: 03/02/2023</h5></td>
      </tr>
      <tr>
        <td colspan="2">
            <h4 class="text-center">"To Kill a Mockingbird" by Harper Lee</h4>  
            <p class="cart-text">This Pulitzer Prize-winning novel tells the story of a young girl named Scout and her family in a small Alabama town during the 1930s. Through Scout's eyes, we witness the racial tensions and injustices of the time, as her father, a lawyer, defends a black man accused of rape.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="cart-stat">
            <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/heart.png" alt=""></a>
            <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/comment-icon.png" alt=""></a>
            <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/trash.png" alt=""></a>
            <a href="/homepage-posts"><h3 class="cart-topic"> #Fiction Community</h3></a>
          </div>
        </td>
      </tr>
    </table>

    <table class="post-cart-table">
        <tr>
          <td><h2 class="cart-title">{{title}}</h2></td>
          <td><h5 class="cart-date">Date: 03/02/2023</h5></td>
        </tr>
        <tr>
          <td colspan="2">
            <h4 class="text-center">"1984" by George Orwell</h4>  
            <p class="cart-text">This dystopian novel imagines a future in which the government has complete control over people's lives and thoughts. The story follows a man named Winston Smith, who begins to rebel against the oppressive regime and falls in love with a fellow rebel named Julia.</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="cart-stat">
              <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/heart.png" alt=""></a>
              <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/comment-icon.png" alt=""></a>
              <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/trash.png" alt=""></a>
              <a href="/homepage-posts"><h3 class="cart-topic"> #Fiction Community</h3></a>
            </div>
          </td>
        </tr>
      </table>

      <table class="post-cart-table">
        <tr>
          <td><h2 class="cart-title">{{title}}</h2></td>
          <td><h5 class="cart-date">Date: 03/02/2023</h5></td>
        </tr>
        <tr>
          <td colspan="2">
            <h4 class="text-center">"The Lord of the Rings" by J.R.R. Tolkien</h4>
            <p class="cart-text">This epic fantasy novel follows a hobbit named Frodo Baggins as he sets out on a quest to destroy the One Ring, which was created by the dark lord Sauron and gives him the power to control all of Middle-earth. Along the way, Frodo is aided by a diverse group of companions, including elves, dwarves, and humans.</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="cart-stat">
              <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/heart.png" alt=""></a>
              <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/comment-icon.png" alt=""></a>
              <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/trash.png" alt=""></a>
              <a href="/homepage-posts"><h3 class="cart-topic"> #Fiction Community</h3></a>
            </div>
          </td>
        </tr>
      </table>
  </div>
  