
<table class="post-cart-table">
    <tr>
      <td><h2 class="cart-title">{{title}}</h2></td>
      <td><h5 class="cart-date">Date: 03/02/2023</h5></td>
    </tr>
    <tr>
      <td colspan="2">
        <h4 class="text-center">"1984" by George Orwell</h4>  
        <p class="cart-text">This dystopian novel imagines a future in which the government has complete control over people's lives and thoughts. The story follows a man named Winston Smith, who begins to rebel against the oppressive regime and falls in love with a fellow rebel named Julia.</p>
      
    </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="cart-stat">
          <a ><img class="cart-logo" (click)="incrementCounter($event)" src="../../../assets/img/heart.png" alt=""></a>
          <a class="counter">{{counter}}</a>
          <a (click)="showComments($event)"><img class="cart-logo" src="../../../assets/img/comment-icon.png" alt=""></a>
          <a href="/homepage-posts"><img class="cart-logo" src="../../../assets/img/trash.png" alt=""></a>
          <a><h3 class="cart-topic"> #{{communityType}}</h3></a>
        </div>
      </td>
    </tr>
  </table>


  <!-- COMMENT SECTION -->
  <div class="container">
<div *ngIf="seeComments" class="comment-section">
    <div class="post-comment">
      <div class="list">
        <div class="user">
          <div class="user-img">
            <img src="../../../assets/img/account-icon.png" alt="">
          </div>
          <div class="user-meta">
            <div class="name">Stef</div>
            <div class="day">10 days ago</div>
          </div>
        </div>
        <div class="comment-post">Lorem ipsum dolor sit amest</div>
      </div>
    </div>
    <div class="comment-box">
      <form action="" method="post">
        <!-- <textarea name="comment" id="" cols="30" rows="10" placeholder="Write a comment..."></textarea> -->
        <input class="comment-input" type="text" placeholder="Write a comment...">
        <button class="submit-comment" type="submit"> 
          <i class="bi bi-send"></i>
        </button>
      </form>
    </div>
  </div>
</div>