<div class="posts-container">
  <div class="post">
    <div class="post-head">
      <h4 class="post-author">By: Stef Tapsoba</h4>
      <h5 class="post-date">03/08/2023</h5>
    </div>
    <div class="post-content">
      <h3 class="post-title">{{title}}</h3>
      <p class="cart-text">This dystopian novel imagines a future in which the government has complete control over people's lives and thoughts. The story follows a man named Winston Smith, who begins to rebel against the oppressive regime and falls in love with a fellow rebel named Julia.
        This dystopian novel imagines a future in which the government has complete control over people's lives and thoughts. The story follows a man named Winston Smith, who begins to rebel against the oppressive regime and falls in love with a fellow rebel named Julia.
        This dystopian novel imagines a future in which the government has complete control over people's lives and thoughts. The story follows a man named Winston Smith, who begins to rebel against the oppressive regime and falls in love with a fellow rebel named Julia.       

      </p>
   
    </div>
    <div class="post-stats">
      <!-- like button -->
      <a (click)="incrementCounter($event)">
        <i class="bi fs-4" [class.bi-heart]="!isActive" [class.bi-heart-fill]="isActive"></i>
      </a>
      &nbsp;
      <span class="counter cart-logo">{{likes}}</span>

      <!-- comment button -->
      <a (click)="showComments($event)">
        <i class="bi bi-chat fs-4 cart-logo"></i>
      </a>

      <!-- delete button -->
      <a (click)="openDialog()">
        <i class="bi bi-trash-fill fs-4 cart-logo"></i>
      </a>
      
      <!-- community label -->
      <a href="/homepage-posts">
        <h3 class="post-label"> #Essay</h3>
      </a>
    </div>
  </div>
</div>


  <!-- COMMENT SECTION -->
<div class="comment-container">
  <div *ngIf="seeComments" class="comment-section">
    <!-- list of comments -->
    <div class="post-comment">
      <div class="list">
        <div class="user">
          <div class="user-img">
            <img src="../../../assets/img/account-icon.png" alt="">
          </div>
          <div class="user-meta">
            <div class="name">Stef</div>
            <div class="day">10 days ago</div>
          </div>
        </div>
        <div class="comment-post">Lorem ipsum dolor sit amest</div>
      </div>
    </div>

    <!-- comment box -->
    <div class="comment-box">
      <form action="" method="post">
        <!-- <textarea name="comment" id="" cols="30" rows="10" placeholder="Write a comment..."></textarea> -->
        <input class="comment-input" type="text" placeholder="Write a comment...">
        <button class="submit-comment btn btn-success btn-block" type="submit"> 
          <i class="bi bi-send"></i>
        </button>
      </form>
    </div>
  </div>
</div>