<app-navbar icon=false title="LOG IN"></app-navbar>

<div class="container text-center">
  <form>
    <div class="form-row my-3">
      <div class="col">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="col">
        <input type="password" class="form-control rounded-lg" placeholder="Password">
      </div>
      <app-greenbtn buttonName="Log In" (click)="login($event)"></app-greenbtn>
      <!-- <button type="submit" class="btn btn-success my-3" (click)="gotoHome($event)">Log In</button> -->
    
    </div>
    <a class="small-link py-5" href="recovery">Forgot password?</a>
  
  </form>
</div> 

