/* FORM STYLE */
input {
    width: 15rem;
    margin: 1rem;
}

.container {
    width: 18rem; 
    height: auto;
    border-radius:1rem; 
    border: #5A794F solid; 
    padding-top:3rem; 
    margin-top:10rem;
}